PORT="xxxx"

JWT_SECRET="change_me_a_real_long_random_string"

POSTGRES_USER="xxxx"
POSTGRES_PASSWORD="xxxx"
POSTGRES_DB="xxxx"
DATABASE_URL="xxxx"

ANTHROPIC_API_KEY="sk-ant-api..."

INTRA_CLIENT_ID=xxxx
INTRA_CLIENT_SECRET=xxxx

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=xxxx

IP_ADDR="xxxx"
