.leaderboard-container{
	background-color: #303030;
	border-radius: 20px;
	width: 200px;
	margin: auto;
	margin-top: 10px;
	justify-content: center;
	text-align: center;
	display: flex;
}

.leaderboard-list {
	background-color: #2a2a38;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	gap: 12px;
	margin-top: 20px;
}